ref
.DS_Store
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.synctex.gz
report/main.toc
report/main.bbl
report/main.bcf
report/main.blg
report/main.out
report/main.run.xml

poster/namkeen-poster.aux
poster/namkeen-poster.bbl
poster/namkeen-poster.bcf
poster/namkeen-poster.blg
poster/namkeen-poster.fdb_latexmk
poster/namkeen-poster.fls
poster/namkeen-poster.log
poster/namkeen-poster.run.xml
poster/namkeen-poster.synctex.gz

implementation/check-env&flow.ipynb
implementation/main.py
implementation/resnet.py
implementation/unet.py